[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-print-site-plugin = "*"
mkdocs-autorefs = "*"

[dev-packages]

[requires]
python_version = "3.13"
